
html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Raleway;
}

/* NAV HEADER */


.hidden {
  display: none;
}

.main-container {
  width: 100%
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.navhead-large {
  padding: 0;
  margin: 0;
  margin-left: 30px;
  margin-top: 5px;
  box-sizing: border-box;
  color: white;
}

.navhead-small {
  display: none;
}

.navbar {
  position: fixed;
  z-index: 1;
  margin: 0;
  padding: 0;
  height: 75px;
  display: flex;
  flex-direction: row-reverse;
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0));
  align-items: center;
  color: white;
  overflow: hidden;
  justify-content: space-between;
  width: 100%;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  min-width: 30%;
  margin-right: 20px;
  margin-top: 30px;
}

.navbar li {
  display: inline-block;
  list-style: none;

}

.navbar li a {
  text-decoration: none;
  color: inherit;
}

.navbar li a:hover {
  border-bottom: solid .1rem;
}

#arrow {
  display: none;
}
.down-arrow {
  display: none;
}

.active {
  border-bottom: solid .1rem;
}

/* HERO DISPLAY */


.hero{
  background-image: url("bg2.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  animation: fadeIn;
  animation-duration: 1s;
  overflow: hidden;
}

.layer {
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
  position: relative;
  width: 100%;
  height: 100%;
  display: inline;
}

.hero2{
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)), url("bg2.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 100px;
  padding-right: 100px;
  animation: fadeIn;
  animation-duration: 1s;
}



.hero-container {
  width: 75%;
  position: absolute;
  top: 150px;
  text-align: left;
  color: white;
  margin-left: 30px;
}

.hero-container h1{
  font-size: 3rem;
}

.footer {
  position: fixed;
  position: fixed;
  bottom: 0;
  z-index: 1;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100px;
  background-color: rgba(0,0,0,.5);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.quick-link {
  text-align: center;
  font-size: 1.5rem;
  color: white;
}
.quick-link a {
  text-decoration: none;
  color: inherit;
}


.svg {
  font-size: 3rem;
  padding: 0;
  margin-top: 10px;
}


.labels {
  font-size: .6rem;
  text-transform: uppercase;
}


/* BUTTON STUFF */

.consult-button {
  margin-top: 20px;
  background-color: rgba(0,0,0,0.0);
  border: 2px solid rgba(255,255,255,0.5);
  padding: 10px;
  width: 35%;
  font-size: 1.5em;
  color: white;
  font-family: Raleway;
  text-shadow: 2px 2px 2px rgba(0,0,0, 1);
  text-transform: uppercase;
  display: none;
}

.consult-button:hover {
  background-color: rgba(255,255,255,0.5);
  cursor: pointer;
} 

.consult-button:focus {
  outline:0;
}
.consult-button:visited {
  background-color: rgba(0,0,0,0.1);
}

.button-holder {
  margin: 0;
  padding: 0;
  width: 100%;
}

.learn-button {
  height: 100%;
}

.test {
  background-color: black;
}

.down-arrow {
  position: fixed;
  top: 5px;
  right: 5px;
  display: inline-block;
  margin-right: 10px;
  
}

/* CLIENTS */

.services {
  padding: 0;
  margin: 0;
  display: flex;
  background-color: black;
  color: white;
  align-content: center;
  justify-content: left;

}
.services h1 {
  font-family: Raleway;
  margin: 0;
  padding: 10px;
  padding-left: 0px;
  display: inline-flex;
  margin-left: 30px;
}

}
.clients {
  margin-top: 30px;
}

.clients h1{
  text-align: center;
  margin: 0;
  text-shadow: 2px 5px 10px rgba(0,0,0, .5)
}

.clients p {
  text-align: center;
}

.clients-grid {
  position: relative;
  bottom: 10px;
  margin:0;
  padding: 0;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  text-shadow: 1px 2px 3px rgba(0,0,0, .2)



}

.clients-grid p {
  font-size: 1rem;
  color: white;
}

.client-box {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 3rem;
  color: white;

}

.client-box h2{
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
  color: white;

}



/* DROP DOWN */
.animate-drop-down {
  animation: dropDown;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.drop-down {
  position: fixed;
  background-color: rgba(0,0,0,.5);
  overflow: hidden;
  align-items: stretch;
  justify-content: flex-start;
}


.dropbar {
  margin-top: 30px;
  position: fixed;
  right: 0;
  z-index: 1;
  color: white;
}


.dropnav {
  display: block;
  margin-right: 30px;
  margin-top: 30px;
  z-index: 3;
}

.dropnav li {
  text-align: right;
  color: white;
  text-decoration: none;
  list-style: none;
  margin-top: 10px;
}

.dropnav li a {
  text-decoration: none;
  color: white;
  margin-top: 3px;
  font-size: 1.3rem;
}

.dropup {
  animation: dropUp;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.fade-in {
  animation: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.fade-out {
  animation: fadeOut;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes dropUp{
    from{

        height: 220px;
        width: 100%;
        background-color: rgba(0,0,0,1);

    }
    to{
        height: 50px;
        width: 100%;
        background-color: rgba(0,0,0,0);
    }
}


@keyframes dropDown{
    from{

        height: 50px;
        width: 100%;
        background-color: rgba(0,0,0,0);

    }
    to{
        height: 220px;
        width: 100%;
        background-color: rgba(0,0,0,1);
    }
}





/* MEDIA QUERY */

@media only screen and (max-width: 800px) {
  body {
    background-color: lightblue;
  }


.learn-button {
  display: none;
}
.hero-container {
  margin:0;
  padding: 0;
  width: 90%;
  text-align: center;
  color: white;
  position: relative;
  top: 100px;
  margin: auto;
}

.hero-container h1{
  margin: 0;
  padding: 0;
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px rgba(0,0,0, 0.5);
  margin-top: 20px;


}

.hero-container p {
  margin: 0;
  padding: 0;
  margin-top: 50px;
}



.hero-paragraph p {
  font-size: 1.1em;
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.8);
  text-align: center;
}

.consult-button {
  display: inline-block;
  background-color: rgba(0,0,0,0.1);
  border: 2px solid rgba(255,255,255,0.5);
  padding: 10px;
  width: 90%;
  font-size: 1.5em;
  color: white;
  font-family: Raleway;
  text-shadow: 2px 2px 2px rgba(0,0,0, 1);
  text-transform: uppercase;
  margin-top: 75px;
  margin-bottom: 75px;
}


.navbar{
  display: flex;
  justify-content: space-between;
  height: 50px;

}

.navhead-large {
  display: none;
}

.navhead-small{
  display: inline-block;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  margin-left: 20px;
}

.navbar ul {
  display: none;
  margin-right: 0;
}

.navbar li {
  display: none;
  
}

#arrow {
  display: block;
}

.down-arrow {
  padding: 3px;
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
}

.hero2 {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;

}

.footer {
  position: fixed;
  position: fixed;
  bottom: 0;
  z-index: 1;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 75px;
  background-color: rgba(0,0,0,.5);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}


.svg {
  font-size: 2rem;
  padding: 0;
  margin-top: 10px;
}


.labels {
  font-size: .6rem;
  text-transform: uppercase;
}

.navhead-large {
  display: none;
}

.navhead-small{
  position: fixed;
  display: inline-block;
  font-size: 1.5rem;
  top: 10px;
  left: 1px;

}

.navbar ul {
  display: none;
  margin-right: 0;
}

.navbar li {
  display: none;
  
}

body {
  background-color: white;
}

.clients {
  margin-top: 30px;
}

.clients h1{
  text-align: center;
  margin: 0;

}

.clients p {
  text-align: center;
}

.clients-grid {
  position: fixed;
  width: 100%;
  bottom: 10px;
  margin:0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0px;


}

.clients-grid p {
  display: none;
}

.client-box {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 2.5rem;
    color: white;

}

.client-box h2{
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: .8rem;
  color: white;


}
